*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
/* HEADER */
nav{
    display: flex;
}


.block__nav{
    display: flex;
    width: 70vw;
}

a{
    padding: 10px;
}

.image__logo{
    width: 120px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 5px;
    position: fixed;
    width: 100%;
}

.image__search, .image__notify, .image__avatar{
    height: 40px;
}

.interaction, .block__infos{
    display: flex;
    align-items: center;
}

.block__infos p{
    font-size: 30px;
    transform: rotate(90deg);
}

input{
    display: none;
    border: none;
    outline: none;
    background: #000;
}

.block__interaction{
    display: flex;
    width: 50px;
}

.interaction__box{
    display: flex;
}
/* HEADER */

/* MAIN */

main{
    background: black;
}

.block__image{
    width: 100%;
    height: 100vh;
    background-image: url(assets/imgmain.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background: #00000080;
    font-size: 20px;
    padding: 1rem 1rem;
    border: none;
}

.main__title{
    padding: 5%;
    font-size: 70px;
    width: 27rem;
    text-transform: uppercase;
}

.main__subtitle{
    width: 40rem;
    padding: 20px;
}

.buttons__block{
    padding: 20px;
}

.block__title{
    margin: 20px 0 0 0;
    font-size: 2em;
}


.block__popular, .block__recommended, .block__movies{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.block__popular--slide ,.block__recommended--slide ,.block__movies--slide{
    display: none;
    width: 100%;
}

/* MAIN */
